@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif ", serif;
}
p,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
ul {
  display: flex;
  list-style: none;
  margin-left: 0px;
  margin-left: auto;
}
li {
  padding: 5px;
}
nav {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: center; /* مرکز افقی */
  align-items: center; /* مرکز عمودی */
}
.content {
  margin: 50px 0 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  margin: auto;
}
input,
textarea {
  border: 2px solid rgb(0, 83, 192);
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
button {
  padding: 5px;
  border: 2px solid rgb(0, 83, 192);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 83, 192, 0.726);
}
