<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minicode</title>
</head>
<body>
    <h1>minicode </h1>
    <h2>best node js course for ever :)</h2>
  <button>click me</button>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati soluta velit exercitationem doloribus. Enim id molestiae, iusto quis, reprehenderit optio perferendis sit maxime eius voluptatibus, porro rerum. Voluptatum, ut obcaecati!</p>
</body>
</html>