<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>

    <h1>404 - opps...</h1>
    <h2>thatpage does not exist :(</h2>
 
    <%- include("partials/footer.ejs") %>

  </body>
</html>
