<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("partials/nav.ejs") %>


    <div class="create-blog content">
      <form action="">
        <label for="blog" id="blog">blog title</label>
        <input type="text" name="title" id="title" />
        
        <label for="snippet" >blog snippet</label>
        <input type="text" name="snippet" id="snippet" required />


        <label for="body">blog body: </label>
       <textarea name="body" id="body" required></textarea>
      </form>
    </div>

    <%- include("partials/footer.ejs") %>

  </body>
</html>
