<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minicode</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>minicode</h1>
        </a>
        Greate site ever
      </div>
    </nav>

    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New blog</a></li>
    </ul>

    <div class="blog content">
      <h2>all pages</h2>
    </div>
  </body>
</html>
